@model ClassifProject.Models.EnlargedGroups
@{
    ViewData["Title"] = "Create Enlarged Group";
}
<form asp-action="CreateEnlGroup" asp-controller="Home">
    <div class="form-group">
        <label asp-for="id_engr" class="control-label">Id</label>
        <input type="text" asp-for="id_engr" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="id_class" class="control-label">Id classifier</label>
        <input type="text" asp-for="id_class" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="name_engr" class="control-label">Имя укрупненной группы</label>
        <input type="text" asp-for="name_engr" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>
