@model ClassifProject.Models.Classifiers
@{
    ViewData["Title"] = "Create Classifier";
}

<form asp-action="CreateClassifier" asp-controller="Home">
    <div class="form-group">
        <label asp-for="id_class" class="control-label">Id</label>
        <input type="text" asp-for="id_class" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="name_class" class="control-label">Имя классификатора</label>
        <input type="text" asp-for="name_class" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>
